/* GradeTracker.css */
::-webkit-scrollbar {
  background-color: rgb(226, 99, 99);
  width:8px;
  height: 8px;
  
}

 .Grade-container {
  width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
} 

.Grade-Box1 {
  flex: 1;
  height: auto;
  width: auto;
  margin: 15px  15px 7px 15px;
  border:1px solid rgb(102, 71, 255);
  border-radius: 10px; 
  box-shadow: 0 0 50px rgba(128, 0, 128, 9);

}
.Grade-Box2{
  flex:7;
  background-color: black;
  height: auto;
  width: auto;
  margin: 23px 15px 15px 15px;
  border-radius: 10px; 
  
}

.Grade-sr{
  border-bottom: 2px solid rgb(102, 71, 255);
}

.Grade-srn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Grade-user-image {
  object-fit: contain;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.Grade-username {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  font-weight: bold;
  color: white;
  margin: 5px;
}


.Grade-UserInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
   margin: 3px;
}

.Grade-Heading {
  color: #f1f1f1;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.Grade-Grades{
  margin: 2px;
  display: flex;
}
.Grade-table {
  width: 100%;
  border-collapse: collapse;
  margin:10px;

}

.Grade-table td, .Grade-table th {
  
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
 text-align: center;
 vertical-align: middle;
 color: white;
  
}
.Grade-table th{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: large;
  height: auto;
  width: auto;
  margin: 15px  15px 7px 15px;
  border:3px solid rgb(102, 71, 255);
  border-radius: 10px; 
  box-shadow: 0 0 30px rgba(128, 0, 128, 9);

}
.Grade-table td{
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
}
.Grade-Titles{

}
.Grade-sortDropdown{
  width: auto !important;
}

.Grade-Btn1 {
  font-size: 16px;
  border-radius: 20px;
  border: 3px solid rgb(64, 190, 41);
  cursor: pointer;
  background-color: #292c2f;
  color: white;
  margin: 5px;
  height:40px;
  width: 80px;
  font-family: cursive;
  font-weight: bold;


}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: black;
  border-radius: 4px;
  border-width: 0;
  border:2px solid white;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(128, 0, 128, 9) 0 3px 0;
  transform: translateY(-2px);
  border: 3px solid white;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.Grade-Btn1:hover {
  background-color: rgb(64, 190, 41);
  color: black;
}

.Grade-Btn2 {
  font-size: 16px;
  border-radius: 20px;
  border: 3px solid rgb(64, 190, 41);
  font-family: cursive;
  cursor: pointer;
  background-color: #292c2f;
  color: white;
  margin: 5px;
  height:40px;
  width: 85px;
  font-weight: bold;
 
  
}
.Grade-Btn2:hover {
  background-color: rgb(64, 190, 41);
  color: black;

}


/* Modal */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}
.Grade-addModal{
  position: fixed;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
 

}
.ReactModal__Content {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background: #000000; 
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.Grade-h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.Grade-form {
  display: flex;
  flex-direction: column;
}

.Grade-form-group {
  margin-bottom: 20px;
}

.Grade-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.Grade-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  margin-top: 5px;
}

.Grade-add {
  background-color: #007bff; /* Blue color for the button */
  color: #fff; /* White text */
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.Grade-add:hover {
  background-color: #0056b3; /* Darker blue on hover */
}



.Grade-removeBtn{
  background-color: #dc3545;
  color: #fff;
  border: black;
  border-radius: 4px;
  cursor: pointer;
  height: auto;
  width: auto;
  margin-right: 3px;
}