::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0;
  background: #111; 
  color: #ddd; 
  font-family: 'Arial', sans-serif;
}

.container {
  background: linear-gradient(to right, #111, #000); 
  color: #ddd; 
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Box1, .Box2 {
  background-color: #222; 
  border: 3px solid #111;
}

.Box1 {
  flex: 1;
  margin: 15px;
  border-radius: 10px;
}

.Box2 {
  flex: 7;
  margin: 0 15px 15px 15px;
  border-radius: 10px;
}

.sr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image {
  object-fit: contain;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.username {
  font-family: 'Cursive', sans-serif;
  font-size: larger;
  font-weight: bold;
  color: #ff5757; 
  margin: 5px;
}

.UserInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3px;
}

.Heading {
  color: #ddd; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Grades {
  display: flex;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px;
}

.table td, .table th {
  border: 3px solid #111;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.table th {
  font-family: 'Cursive', sans-serif;
  font-weight: bold;
  font-size: large;
}

.table td {
  font-family: 'Cursive', sans-serif;
  font-style: italic;
}

.sortDropdown {
  width: auto !important;
}

.Btn1, .Btn2, .add, .removeBtn {
  border: solid #ddd; 
}

.Btn1, .Btn2 {
  background: linear-gradient(to right, #0074cc, #00539c); 
  color: #fff; 
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  height: 40px;
  width: 80px;
}

.Btn1:hover {
  background: linear-gradient(to right, #00539c, #003366); 
  color: #fff; 
}

.Btn2:hover {
  background: linear-gradient(to right, #00539c, #003366); 
  color: #fff; 
}

.add {
  background-color: #6bc46d; 
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add:hover {
  background-color: #57a845; 
}

.removeBtn {
  background-color: #fc5c65; 
  color: #fff;
  border: black;
  border-radius: 4px;
  cursor: pointer;
  height: auto;
  width: auto;
  margin-right: 3px;
}

.removeBtn:hover {
  background-color: #db4a51; 
}

.info {
  margin: 10px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: bold;
  color: #ddd; 
}

.value {
  color: #ff5757; 
}

.ReactModal__Overlay {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #222; 
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add {
  background: linear-gradient(to right, #0074cc, #00539c); 
  color: #fff; 
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add:hover {
  background: linear-gradient(to right, #00539c, #003366); 
}