.GoalsList{
    width: 97%;
    margin-left: 20px;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 10px;

}

.GoalsList td {
  background-color: black;
    padding: 8px;
   text-align: center;
   vertical-align: middle;
   color: #ffffff;

  }


  .GoalsList th{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    height: auto;
    width: auto;
    margin: 15px  15px 7px 15px;
    border:6px solid rgb(102, 71, 255);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(128, 0, 128, 9);
    text-align: center;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: black;
    border-radius: 4px;
    border-width: 0;
    border:2px solid white;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-left: 9px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(128, 0, 128, 9) 0 3px 0;
    transform: translateY(-2px);
    border: 3px solid white;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  .GoalsAchieved{
    width: 50vw;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
  

}

.GoalsAchieved td {
  background-color: black;
    padding: 8px;
   text-align: center;
   vertical-align: middle;
   color: #ffffff;
  }
  
  .GoalsAchieved th{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    height: auto;
    width: auto;
    margin: 15px  15px 7px 15px;
    border:6px solid rgb(102, 71, 255);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(128, 0, 128, 9);
    text-align: center;
}
  .achieved-goals-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
